
  	<% provide(:title, 'Home') %>
    <h1>Welcome to Running Log</h1>
    <p class="textbox">
      Set your goals, log your runs, veiw your progress, and share it all with people you care about.
    </p>